In [4]:
# Part 1: Handle Missing Values & Duplicates

    # Step-by-Step Guidelines:
# 1. Load the Data: First, ensure you have pandas installed and import it.
# 2. Handling Missing Values
#     1. Identify Missing Values:
#     2. Fill Missing Values:
# 3. Handling Duplicates
#     1. Identify Duplicates:
#     2. Remove Duplicates:
# 4. Combined Practice on a New Dataset
#     1. New Sample Data:
#     2. Handling Missing Values:
#     3. Remove Duplicates:

In [5]:
import pandas as pd

# Step 1: Load the Data (create sample data)
data = {
    'Name': ['Alice', 'Bob', None, 'David', 'Eve', 'Frank', 'Alice'],
    'Age': [25, None, 30, 22, None, 40, 25],
    'City': ['NY', 'LA', 'NY', None, 'LA', 'NY', 'NY']
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Step 2: Handling Missing Values

# 2.1 Identify Missing Values
print("\nMissing values count per column:")
print(df.isnull().sum())

# 2.2 Fill Missing Values
# Fill missing Age with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing Name with 'Unknown'
df['Name'].fillna('Unknown', inplace=True)

# Fill missing City with mode (most frequent value)
df['City'].fillna(df['City'].mode()[0], inplace=True)

print("\nDataFrame after filling missing values:")
print(df)

# Step 3: Handling Duplicates

# 3.1 Identify duplicates
print("\nNumber of duplicate rows:", df.duplicated().sum())

# 3.2 Remove duplicates (keep first occurrence)
df_clean = df.drop_duplicates()

print("\nDataFrame after removing duplicates:")
print(df_clean)

Original DataFrame:
    Name   Age  City
0  Alice  25.0    NY
1    Bob   NaN    LA
2   None  30.0    NY
3  David  22.0  None
4    Eve   NaN    LA
5  Frank  40.0    NY
6  Alice  25.0    NY

Missing values count per column:
Name    1
Age     2
City    1
dtype: int64

DataFrame after filling missing values:
      Name   Age City
0    Alice  25.0   NY
1      Bob  28.4   LA
2  Unknown  30.0   NY
3    David  22.0   NY
4      Eve  28.4   LA
5    Frank  40.0   NY
6    Alice  25.0   NY

Number of duplicate rows: 1

DataFrame after removing duplicates:
      Name   Age City
0    Alice  25.0   NY
1      Bob  28.4   LA
2  Unknown  30.0   NY
3    David  22.0   NY
4      Eve  28.4   LA
5    Frank  40.0   NY

In [6]:
# Part 2: Apply Standardization & Formatting Rules

#     Step-by-Step Guidelines:
# 1. Standardize Text Data
#     1. Convert All Names to Lowercase:
# 2. Format Numerical Data
#     1. Round Age Column to the Nearest Integer:
# 3. Combined Practice on Another Dataset
#     1. New Sample Data:
#     2. Standardize Product Names:
#     3. Format Prices to Two Decimal Places:

In [ ]:
import pandas as pd

# --- Step 1: Standardize Text Data (Names to lowercase) ---
data = {
    'name': ['Alice', 'BOB', 'Charlie', 'diana'],
    'age': [23.4, 35.7, 29.9, 41.2]
}
df = pd.DataFrame(data)

# Convert 'name' to lowercase
df['name'] = df['name'].str.lower()

# --- Step 2: Format Numerical Data (Round age to nearest integer) ---
df['age'] = df['age'].round().astype(int)

print("After standardizing names and rounding age:")
print(df)
print("\n")

# --- Step 3: Combined Practice on Another Dataset ---
products = {
    'product': ['Apple', 'banana', 'ORANGE', 'mango'],
    'price': [0.99, 1.2345, 2.5, 3.456]
}
df_products = pd.DataFrame(products)

# Standardize product names to lowercase
df_products['product'] = df_products['product'].str.lower()

# Format prices to two decimal places
df_products['price'] = df_products['price'].round(2)

print("After standardizing product names and formatting prices:")
print(df_products)

After standardizing names and rounding age:
      name  age
0    alice   23
1      bob   36
2  charlie   30
3    diana   41


After standardizing product names and formatting prices:
  product  price
0   apple   0.99
1  banana   1.23
2  orange   2.50
3   mango   3.46